.el-col-1 {
    text-align: center;
  }
  .el-button.el-button {
    margin-left: 0px;
  }
  .books{ 
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
  }
  .books:hover{
      -webkit-line-clamp: inherit;
  }